<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <p>Plot: <%= plot.number %></p>
  <p>Plant: <% plot.plants.each do |plant| %>
    <%= plant.name %>
    <%= link_to "Remove #{plant.name}", "/plants/#{plant.id}", method: :delete %>
  <% end %></p>
<% end %>
