<h2>All Plots</h2>
<div id='plots'>
    <ul>
        <% @plots.each do |plot| %>
            <li><b>Plot number - <%= plot.number %></b></li>
                <div id="plot-<%=plot.id%>">
                    <ul>
                        <% plot.plants.each do |plant| %>
                            <li><b><%= plant.name %></b<> - <%= link_to "Remove #{plant.name}", plot_plant_plot_path(plot, plant), method: :delete %></li>
                        <% end %>
                    </ul>
                </div>
        <% end %>
    </ul>
</div>