<h1><center> Plot Index Page </center></h1>
<hr>

<% @plots.each do |plot| %>
  <div id="plot-<%= "#{plot.number}" %>">
  <p>Plot Number: <%= plot.number %> </p>

  <% plot.plants.each do |plant| %>
    <p> Plants in Plot: <%= plant.name %> </p>
  <% end %>
  </div>
<% end %>