<h1>Plots Index Page</h1>


<% @plots.each do |plot| %>
  <p>Plot #<%= plot.number %></p>
    <ul id="plot_plants_<%= plot.id %>">
    <% plot.plants.each do |plant| %>
      <li><%= plant.name %>
    <% end %>
    </ul>
<% end %>