<h1>Plots Index</h1>

<div id="plots-plants">
  <ul>
    <% @plots.each do |plot| %>
    <div id=<%="plot-#{plot.number}" %> >
      <li>Plot: <%= plot.number %> --- Plants: </li>
      <ol>
        <% plot.plants.each do |plant| %>
        <li> <%= plant.name %> <%= link_to "Delete #{plant.name}", "/plots/#{plot.id}/plot_plants/#{plant.id}", method: :delete %> </li>
        <% end %>
      </ol>
    </div>
      <% end %>
      
  </ul>
</div>