<h1>Plots Index Page</h1>


<% @plots.each do |plot| %>
  <p>Plot #<%= plot.number %></p>
    <ul id="plot_plants_<%= plot.id %>">
    <% plot.plot_plants.each do |plot_plant| %>
      <li><%= plot_plant.plant_name %> <%= link_to "Remove", plot_plant_path(plot_plant.id), method: :delete %>
    <% end %>
    </ul>
<% end %>