<h3>Index Page</h3>

<% @plots.each do |plot| %>
  <%=plot.number%>
    <hr>
  <%plot.plants.each do |plant| %>

    <div id="plant-list-<%= plant.id%>">
      <ul><%=plant.name%> <%= link_to 'Delete This Plant', plot_plot_plant_path(plot, plant), method: :delete %></ul>
     </div>
  <%end%>

<%end%>