<h1>Plots Index Page</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <ul>
      Plot Number: <%= plot.number %>
    </ul>
      <% plot.plot_plants.each do |plot_plant| %>
        <li> 
          <%= plot_plant.plant.name %> | <%= link_to "Remove #{plot_plant.plant.name}", plot_plant_path(plot_plant.id), method: :delete %>
        <% end %>
        </li>
  </div>
<% end %>

