<h1>plots index page</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%="#{plot.number}"%>">
      <p>Plot Number:<%= plot.number %></p>
        <% plot.plants.map do|plant| %>
          <p>Plot Plants:<%= plant.name %></p>
          <%= link_to "Remove #{plant.name} from Plot",plot_plant_path(plant.id), method:"delete" %>
        <% end %>
  </div>

<% end %>
