<h1>Plots Index</h1>

<div id="plots-plants">
  <ul>
    <% @plots.each do |plot| %>
    <div id=<%="plot-#{plot.number}" %> >
      <li>Plot: <%= plot.number %> --- Plants: </li>
      <ol>
        <% plot.plants.each do |plant| %>
        <li> <%= plant.name %> </li>
        <% end %>
      </ol>
      <% end %>
      
    </div>
  </ul>
</div>