<h1>The Plots Index Page</h1>
<br>
<br>
<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h2>Plot Number: <%= plot.number %></h2>
    <h3>Plants:</h3>
    <% plot.plants.each do |plant| %>
      <p>- <%= plant.name %></p>
    <% end %>
  </div>
<% end %>