<h2>PLOTS</h2>

<% @plots.each do |plot| %>
  <p>Plot Number: <%= plot.number %></p>
<h2>PLANTS</h2>
  <% plot.plants.each do |plant| %>
    <%= plant.name %>
    <%= link_to "Delete #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}/destroy" %>
  <% end %> 
<% end %>


