<h1>Plot Index</h1>
<div>
<% @plots.each do |plot| %>
  <h3>Plot Number: <%= plot.number %></h3>
  <% plot.plot_plants.each do |plot_plant| %>
    <% plant = plot.plants.find(plot_plant.plant_id) %>
    <p>Plant Name: <%= plant.name %></p>
    <%= link_to "Delete #{plant.name} #{plot_plant.id}", "/plot_plants/#{plot_plant.id}", method: "delete"%>
    <% end %>
<% end %>
</div>